  @import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0; 
}

.container-main{
    background-color: white;
}


/*NAVBAR-COMPONENTE*/

.main-nav{
    width: 100%;
    height: 100px;
    background-color: white;
    font-family: 'Vampiro One', system-ui;
    border-bottom: 1px solid black;    
}

.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-header-title{
    font-size: 2rem;
}
.nav-select{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    gap: 1rem;
}

.main-nav a{
    text-decoration: none;
    color: black;
}


/* SLIDER AD-COMPONENTE */


.slider-main{
    width: 85%;
    margin-left: 8%;
    position: absolute;
    overflow: hidden;
    margin-top: 2%;
}

.slider-container{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 5s linear infinite;
}

.slide{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    background-color: black;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    /* box-shadow: 
    0 0.1rem 0.2rem #FFFFFF,
    0 0.1rem 0.5rem #FFFFFF,
    0 0.2rem 1.5rem #FFFFFF;     */
}

/* .slide span{
    color: #FFFFFF;
} */


@keyframes loop {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}


/*CARDS-COMPONENTE*/
.main-cards {
    width: 85%;
    display: flex;
    margin-top: 27%;
    justify-content: space-around;
    margin-left: 8%;
    margin-bottom: 2%;
}

.main-cards-2 {
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    margin-bottom: 7%;
}

.card-container {
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    width: 24%; 
    height: 450px; 
    background-color: white;
    border: 1px solid black;
}

.card-img{
    margin-top: 35%;
    margin-bottom: 28.5%;
}

.card-img:hover {
    transform: scale(1.5);
}

.price-joyas{
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.card-container-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 6%;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;
}


.card-container-span:hover{
    opacity: 1;
}

.card-shop-add{
    text-decoration: none;
    color: white;
}

.card-container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: -25%;
    margin-bottom: 10%;
}


/*SECTION SEACRH-COMPONENTE*/

.main-section{
    display: flex;
    align-items: center;
    width: 80%;
    height: 81px;
    background-color: white;
    margin-left: 140px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.container-options{
    display: flex;
    align-items: center;
    margin-left: 340px;
    margin-top: 5%;
}

.container-options span{
    margin-right: 50px;
}

.options-nav{
    align-items: center;
    list-style: none;
    position: relative;
}

.dropdown{
    min-width: 50%;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 80%;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.dropdown-link{
    text-decoration: none;
    color: black;
}

.options-nav:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 100%;
}


.link-section-mujer,
.link-section-hombre,
.link-section-unisex  
{
    text-decoration: none;
    color: black;
}

.container-input-search{
    margin-left: 150px;
    margin-top: -2.5%;
    position: absolute;
}


/*FOOTER-COMPONENTE*/
.main-footer{
    width: 100%;
    height: 450px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: white;
}

.container-footer{
    display: flex;
    justify-content: space-around;
}

.section-acerca-footer,
.section-legales-footer,
.section-ayuda-footer,
.section-contactos-footer{
    margin-top: 5%;
    font-size: .8rem;
}

.link-correo-footer,
.link-numero-footer{
    color: white;
}

.divisor-footer{
    background-color: white;
    width: 80%;
    margin-left: 140px;
}

.redes-footer-container{
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*SECTION MEN-PAGE*/

.img-publi-men{
    width: 100%;
    height: 300px;
    margin-top: 2%;
    position: absolute;
}


/*SECTION WOMAN-PAGE*/
.img-publi-woman{
    width: 100%;
    height: 350px;
    margin-top: 2%;
    position: absolute;
}

/*SECTION UNISEX-PAGE*/
.img-publi-unisex{
    width: 100%;
    height: 350px;
    margin-top: 2%;
    position: absolute;
}


/*FILTROS DE JOYAS-COMPONENTE*/

.main-filtros{
    width: 25%;
    margin-top: 27%;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    margin-left: 100px;
    
}

.main-filtros h5{
    font-size: 1.2rem;
}


.container-filtros{
    display: flex;
    flex-direction: column;
}

.container-filtros select{
    border: white;
    width: 60%;
}

.container-filtros hr{
    width: 60%;
    border: 1.5px solid black;
    margin-top: -2px;
}

.label-ancho{
    margin-top: 5px;
}

.label-color{
    margin-top: -10px;
}

/*CARDS SECTION-COMPONENTE*/

.main-cards-section{
    width: 72%;
    display: flex;
    margin-top: -20%;
    justify-content: space-around;
    margin-left: 25%;
    margin-bottom: 2%;
}

.main-cards-section-2{
    width: 72%;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-bottom: 7%;
}


.card-container-section{
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    width: 24%; 
    height: 400px; 
    background-color: white;
    border: 1px solid black;
}

.card-img-section{
    margin-top: 35%;
    margin-bottom: 26%;
}

.card-img-section:hover{
    transform: scale(1.5);
}

.card-container-section-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 6%;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;

}


.card-container-section-span:hover{
    opacity: 1;
}

.card-container-section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: -30%;
    margin-bottom: 10%;
}

/*ADD TO CART- PAGE*/



/*SHOPPING CART- COMPONENT*/

.main-shop-cart{
    width: 80%;
    height: 954px;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.container-shop-cart{
    display: flex;
    width: 100%;
    height: 100%;
}

.img-shop-cart{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}


.section-description-shop{
    width: 50%;
    height: 100%;
}

.description-shop-cart b{
    font-size: 1.5rem;
}

.price-prouct-shop{
    color: red;
    font-size: 2rem;
}

.label-medidas-cart{
    position: absolute;
    margin-top: -2%;
}

#medidas-select-cart{
    width: 35%;
    height: 40px;
}

.container-button-shop-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.container-button-shop-cart button{
    background-color: black;
    color: white;
    width: 87%;
    height: 60px;
    
}
.favoritos-container {
    width: 10%;
    height: 57px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoritos-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.favorito-activo {
    display: none;
}

#favorito-toggle{
    display: none;
}
#favorito-toggle:checked + label .favorito-activo {
    display: inline-block;
}

#favorito-toggle:checked + label .favorito-normal {
    display: none;
}

#product-description{
    font-size: .9rem;
    margin-bottom: 5%;
}

.container-items-shop{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
}

.container-warranty-shop,
.container-save-shop,
.container-months-shop,
.container-store-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.container-save-shop{
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 65%;
}

.container-months-shop{
    border-right: 1px solid black;
    height: 65%;
}


/*LOGIN MODAL - COMPONENT*/

